.image-left {
	position: relative;
}

.image-right {
	position: relative;
}

#top {
	left: -0px;
}
#pageHeader {
	top: 30px;
}

div#sidebarContainer {
	position: relative;
	height: 1%;
}

#leftbar, #rightbar {
	top: 80px;
	bottom: 0;
	overflow: hidden;
}

#leftbar {
	left: -12px;
}

#rightbar {
	right: -12px;
}

#container {
	overflow: hidden;
}
