.collage {
	position: relative;
	display: block;
	border: 0px solid black;
}

.collage li {
	position:relative;
	display:block;
	float:left;
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	width:80%;
	border: 0px solid red;
}

.collage li img {
	position:relative;
	display: block;
	float:left;
	width: 30%;
	margin: 0;
	padding: 0;
	border: 0px solid blue;
}

.collage li h3 {
	position:relative;
	display: block;
	float:left;
	width: 80%;
	margin: 0;
	padding: 0;
	text-align:left;
	border: 0px solid green;
}

.collage li h4 {
	position:relative;
	display: block;
	float:left;
	width: 80%;
	margin: 0;
	padding: 0;
	text-align:left;
	border: 0px solid purple;
}

.collage li h5 {
	position:relative;
	display: block;
	float:left;
	width: 80%;
	margin: 0;
	padding: 0;
	text-align:left;
	border: 0px solid orange;
}

#CollageLBOverlay {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: auto;
	z-index: 10000;
}

#CollageLBClose {
	position:absolute;
	display:block;
	left: 20px;
	top:20px;
	width:30px;
	height:30px;
	margin:0;
	padding:0;
	border:0;
	cursor: pointer;
	z-index:10001;
}

#CollageLBControlBox {
	position:absolute;
	display:block;
	overflow: hidden;
	left:0px;
	top:0px;
	width:256px;
	height:64px;
	margin:0;
	padding:0;
	border:0;
	cursor: auto;
	z-index:10001;
}

.CollageLBControl {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	width:64px;
	height:64px;
	margin:0;
	padding:0;
	border:0;
	cursor: pointer;
	z-index:10001;
}

#CollageLBImage {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	border: 15px solid #000000;
	z-index: 10001;
}

.CollageHVBox {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	z-index: 10000;
}

