body,
.movie-background, .photo-background {
	background-color: #445975;
}

a:link, a:visited {
	color: #445975;
}

a:hover, a:active {
}


#contentContainer {
	color: #0F1113;
	background-color: #EDE4C8;
	border-color: #445975;
}

.movie-description {
	color: #0F1113;
}

#top, #pageHeader, #bottom, #footer, #top_center, #headerLine {
	border-color: #445975;
	background-color: #445975;
}

#mainContent, #sidebarContainer {
	border-color: #FFFADC;
	color: #0F1113;
}

div#navbarContainer ul a {
	border-color: #445975;
	background-color: #445975;
}



/* @group File Sharing */

.filesharing-item {
	background-color: #FFFADC;
	border: 2px solid #D5CDB4;
}

.filesharing-description {
	border-bottom-color: #FFFADC;
}


.filesharing-item-title {
	color: #0C0D0F;
	background-color: #FFFADC;
}


.filesharing-item-description {
}

/* @end */

.standout {
	border-color: #FFFADC;
}
		
#pageHeader {
	background-color: #433323;
}

.photo-navigation {
	background-color: #BDB6A0;
}

#pageHeader h1 {
	color: #EDE4C8;
}
		
#pageHeader h2 {
	color: #EDE4C8;
}
		
.photo-links {
	background-color: %colour_body_bg * 0.6%;
	border-bottom-color: #211911;
}

.photo-caption {
	color: #0F1113;
}

.photo-title {
	color: #121416;
}

.blog-entry {
	border-color: #FFFADC;
}


.blog-entry-title a {
	color: #0F1113;
}

.blog-entry-title a:hover {
	color: #445975;
	background: transparent;
}

.photo-links {
	color: #445975;
}

.exif-data,
 {
	color: %colour_content_background * 2%;
}

div#navbarContainer ul li a{
	color: #F1DCAC;
}

.photo-navigation a:link,
.photo-navigation a:visited {
	color: #445975;
}

div#navbarContainer ul a:hover {
	color: #E0CEA3;
	background-color: %colour_navbar_text_bg_active%;
}

div#navbarContainer .current,
div#navbarContainer .currentAncestor {
	color: #FFF7C3 !important;
}

div#navbarContainer ul ul {
}

#sidebarContainer .sideHeader,
#sidebarContainer h1,
#sidebarContainer h2,
#sidebarContainer h3,
#sidebarContainer h4,
#sidebarContainer h5,
 {
	font-weight: bold;
}


#sidebarContainer {
	color: #0F1113;
}


#sidebarContainer a, #sidebarContainer a:hover {
	color: #3C4C56;
}


#footer, #bottom, #footer p {
	color: #E0CEA3;
}

#footer a:link, #footer a:visited {
	color: #F6E2B3;
	text-decoration: underline;
}

#footer a:hover, #footer a:active {
	color: #FFFFD3;
	text-decoration: none;
}


#mainContent h1, #movie-page-title, .movie-title {
	color: #0C0D0F;
}

#mainContent h2, #movie-page-description {
	color: #0C0D0F;
}

#mainContent h3, #movie-thumbnail-caption {
	color: #0D0F11;
}

#mainContent h4 {
	color: #0D0F11;
}

#mainContent h5 {
	color: #0F1113;
}

.photo-frame, .thumbnail-frame {
	border-color: #BDB6A0;
	background-color: #FFFADC;
}

.form-input-field, .form-input-button {
	background-color: #FFFFFB;
	border-color: #DCD3B7;
	color: #0F1113;
}

/* @group Toolbar */

div#navbarSide ul a { 
	color: #101011;
}

div#navbarSide ul a.current, div#navbarSide ul a:hover { 
	color: #2E2015;
}

