/* @group General Styles */

body, html {
	margin: 0;
	padding: 0;
	font-size: 63.5%;
}

b, strong {
	font-weight: bold;
}


a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

a img {
	border: none;
}

	
/* @end */

/* @group Layout */

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
}

#top {
	position: fixed;
	height: 30px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 100;
}

#pageHeader {
	top: 30px;
	position: relative;
	height: 120px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	background-image: url(images/headerbg.jpg);
	background-position: center;
}

#leftbar, #rightbar {
	height: 100%;
	position: absolute;
	z-index: 0;
}

#leftbar {
	left: -141px;
	width: 140px;
	background-repeat: no-repeat;
	background-position: right 80px;
	background-color: transparent;
}

#rightbar {
	right: -141px;
	width: 140px;
	background-repeat: no-repeat;
	background-position: left 80px;
	background-color: transparent;
}

#headerLine {
	position: fixed;
	background-color: transparent;
	top: 0;
	height: 119px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 100%;
	left: 0;
}

#pageHeader h1, #pageHeader h2 {
	font-weight: normal;
	margin: auto 20px;
	padding: 0;
	text-align: right;
	color: white;
	text-transform: uppercase;
}

#pageHeader h1 {
	font-size: 24px;
	margin-top: 20px;
}

#pageHeader h2 {
	font-size: 14px;
	margin-top: 10px;
}

#pageHeader img {
	display: inline;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 10px;
}

#contentContainer {
	margin: 0;
	position: relative;
	top: 0;
	margin-left: 140px;
	margin-right: 140px;
	padding-bottom: 20px;
	font-size: 1em;
	line-height: 1.4em;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0;
}

#mainContent {
	padding: 10px 20px 40px;
	color: #f0f0f0;
	margin-left: 200px;
	border-left-width: 1px;
	border-left-style: solid;
	font-size: 1.9em;
	line-height: 1.8em;
	margin-top: 40px;
}

#contentContainer ul li {
	margin-bottom: 0.8em;
}

#contentContainer ol li {
	margin-bottom: 0.8em;
}

#bottom {
	position: fixed;
	bottom: 0;
	height: 30px;
	text-align: center;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: #222;
	z-index: 100;

}

#footer {
	height: 30px;
	position: relative;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	margin: 0 auto;
}

#top_center {
	height: 30px;
	position: relative;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	margin: 0 auto;
}

#footer p {
	margin: 0 auto;
	font-size: 12px;
	color: #666;
	padding-top: 5px;
}

#sidebarContainer {
	width: 160px;
	float: left;
	font-size: 1.7em;
	color: #999;
	padding: 20px 20px 30px;
	text-align: justify;
	border-right-width: 1px;
	border-right-style: solid;
	line-height: 1.3em;
	margin-top: 40px;
}

#sidebarContainer h1, #sidebarContainer h2, #sidebarContainer h3 {
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}

#sidebarContainer h1 {
	font-size: 1.2em;
}

#sidebarContainer h2 {
	font-size: 1.1em;
}

#sidebarContainer h3 {
	font-size: 1em;
}

#mainContent h1, #mainContent h2, #mainContent h3, .photo-title, .album-title, .album-description, .photo-caption, .filesharing-item-title {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	line-height: 1.4em;
}

#mainContent h1 {
	font-size: 1.5em;
}

#mainContent h2 {
	font-size: 1.3em;
}

#mainContent h3 {
	font-size: 1.2em;
}

.photo-title, .album-title {
	font-size: 1.2em;
}

.album-description, .photo-caption {
	font-size: 1em;
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	text-align: left;
	padding: 0px;
	position: relative;
	top: 20px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

#breadcrumbcontainer li {
	padding: 0px;
	display: inline;
}

#breadcrumbcontainer a {
	display: inline;
}

#breadcrumbcontainer a:hover {
	display: inline;
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

div#navbarContainer {
	width: 100%;
	font-size: 12px;
	height: 22px;
	position: absolute;
	z-index: 10;
	top: 98px;
	margin-top: 30px;
	}
div#navbarContainer ul, div#navbarContainer ul li{
	list-style-type:none;
	margin:0;
	padding:0;
}
div#navbarContainer ul{
	height: 22px;
	float: right;
	margin-right: 12px;
}
div#navbarContainer ul li{
	float:left;
	margin-right: 6px;
	text-align: center;
	height: 22px;
}
div#navbarContainer ul a {
	float:left;
	padding: 3px 12px 5px;
	background: #fff;
	text-decoration:none;
	color: #666;
	height: 14px;
	border-width: 1px;
	border-style: solid;

}

div#navbarContainer ul ul {
	display: none;
}



#navbarSide { 
	font-size: 1em; 
	margin-bottom: 20px; 
	position: relative;
	width: 160px;
	margin-top: 0px;
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
} 


/* Parent - Level 0 */ 

#navbarSide ul {
	list-style: none;
	margin: 0; 
	padding: 0;
	
}

#navbarSide>ul {
}

#navbarSide li { 
	position: relative;
	display: inline;
}

#navbarSide a { 
	display: none;
	padding-left: 10px; 
	text-decoration: none;
	padding-bottom: 6px;
	padding-top: 6px;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 1em;
}

#navbarSide a:hover {
	color: #dfdfdf;
}

#navbarSide>ul>li>a.current, #navbarSide>ul>li>a.currentAncestor {
	position: relative;
	display: block;
	font-size: 1.2em;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-left: -10px;
}

/* Child - Level 1 */ 

#navbarSide ul ul {
}

#navbarSide ul ul a.current {
} 

#navbarSide ul ul li {
} 

div#navbarSide ul ul a { 
	display: block; 
	padding-left: 6px;
}

div#navbarSide ul ul a.current { 
	font-style: italic;
}


div#navbarSide ul ul ul li a{
	padding-left: 18px;
}
	
/* @end */

/* @group Global Classes */

.clearer {
	clear: both;
}

.standout {
	font-style: italic;
	padding: 10px;
	font-size: 13px;
	border-bottom-width: 1px;
	border-style: dotted;
	border-top: 1px;
	border-top-width: 1px;
}

h1 {
	font-size: 2.0em;
	font-weight: normal;
	margin-bottom: 0.5em;
	padding: 0px;
	line-height: 1em;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 0.1em;
	margin-top: 0;
	padding: 0px;
}

h3 {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 0.8em;
	padding-top: 1em;
}

h4 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 0.1em;
}

h5 {
	font-size: 1.1em;
	font-weight: normal;
	margin-bottom: 0.1em;
}

.image-left {
	float: left;
	margin: 3px 1em 1em 0;
	padding: 3px;
	position: relative;
}


.image-right {
	float: right;
	margin: 3px 0 1em 1em;
	padding: 3px;
	position: relative;
}


.imageStyle {	
}
	
/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	padding: 5px;
}

.album-description {
	padding: 5px;
}
.album-description {
	margin-bottom: 60px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 10px;
	margin-left: 10px;
}

.thumbnail-frame {
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame img {
    margin: auto;
    border: none;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	height: 35px;
	display: block;
}

.thumbnail-frame {
	padding: 5px;
	border: 1px solid #d4d4d4;
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	border: none;
	padding: 0;
}

.thumbnail-caption {
	font-size: 10px;
	line-height: 1.1em;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	text-align: center;
}

.photo-navigation {
	margin: 6px auto; 
	text-align: center;
	padding: 4px;
	font-size: 2em;
}

.photo-navigation a, .photo-navigation a:visited {
	text-decoration: none;
	font-size: 1em;
}

.photo-navigation a:hover {
	text-decoration: underline;
}

.photo-frame {
	padding: 4px;
	margin: 6px auto;
	display: block;
}

.photo-links {
	padding: 0px;
}

.photo-title {
	padding: 0px;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0;
}

.photo-caption {
	padding: 0px;
	font-size: 1.2em;
}

/* @end */
	
/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
	font-size: 0.9em;
	position: relative;
	text-align: center; /* To Make Content Centered */
}

.blog-archive-headings-wrapper {
	text-align: center;
	padding: 0.5em 1em;
	position: relative;

}

.blog-archive-entries-wrapper {
	text-align: left;
	padding: 1em;
}

.blog-archive-month {
	position: relative;
	font-weight: normal;
	font-size: 2.5em;

}

.blog-archive-link { 
	position: relative;	

}

.blog-entry {
	border-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 25px;
}

.blog-entry-title {
	font-size: 1.3em;
	font-weight: normal;
	margin: 1em;
}

.blog-entry-date {
	margin-bottom: 10px;
	margin-top: 5px;
}

.blog-entry-body {
	margin: 1em;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
	margin: 0 5px;
}

.blog-archive-link-disabled {
	margin: 0 5px;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 10px;
	font-size: 1.1em;
}

.blog-category-link-enabled {
	margin: 0 5px;
}

.blog-category-link-disabled {
	margin: 0 5px;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-bottom: 10px;
}

.blog-rss-link {
}

.blog-comments-rss-link {
}
	
/* @end */


	
/* @end */
	
/* @end */

/* @group File Sharing */

.filesharing-description {
	margin-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

.filesharing-item {
	margin-bottom: 10px;
	padding: 5px;
	
}

.filesharing-item-title {
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 5px;
}

.filesharing-item-description {
	margin-bottom: 10px;
}

/* @end */

/* @group Quicktime Page */

.movie-title {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
}

.movie-description {
	text-align: center;
}

.movie-frame {
	text-align: center;
	margin-bottom: 10px;
}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-size: 1.4em;
	font-weight: normal;
	margin-bottom: 3px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	float: left;
	display: inline;
	margin-right: 40px;
}


.movie-thumbnail-caption {
	text-align: center;
	margin-bottom: 5px;
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin-top: 5px;
}

.movie-title {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 3px;
	text-align: center;
}

.movie-frame {
	text-align: center;
	margin-bottom: 10px;
}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { 

}

.required-text {
} 

.form-input-field {
} 

input.form-input-field {
	display: inline;
}

textarea {
}

.form-input-button { 
}


form {
	
	}

label {
} 
/* @end */


/* @group New Blog Styles */

p.blog-entry-tags {
}
/* Styles blog tag links normal and visited state */
p.blog-entry-tags a:link,
p.blog-entry-tags a:visited {
}

/* Styles blog tag links hover state */
p.blog-entry-tags a:hover {
}

/* Styles blog tag links active state */
p.blog-entry-tags a:active {
}

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 20px 10px 10px;
	padding: 0;
	display: block;
	list-style: none;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 3px;
	
}

ul.blog-tag-cloud li a {
	display: inline;
	margin: 0;
	padding: 0;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1.0em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}
.blog-tag-size-14 {
	font-size: 1.45em;
}

.blot-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}


.blog-tag-size-20 {
	font-size: 1.75em;
}

/* @end */


/* Order & Un-ordered List Support
These CSS classes style the list style type of an un-ordered list. */

ul.disc { list-style-type: disc;
}

ul.circle { list-style-type: circle;
}

ul.square { list-style-type: square;
}

ol.arabic-numbers { list-style-type: decimal;
}

ol.upper-alpha { list-style-type: upper-alpha;
}

ol.lower-alpha { list-style-type: lower-alpha;
}

ol.upper-roman { list-style-type: upper-roman;
}

ol.lower-roman { list-style-type: lower-roman;
}

/* @end *//* @group EXIF data */
/* Data wrapper */
.exif-data {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-pixel-x-dimension {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}

a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}

/* @end */

div#license {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	background-color: black;
	cursor: pointer;
	height: 40px;
	overflow: hidden;
	z-index: 5000;
}

div#license img {
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}